:root {
    --fuenteTitulos: 'Comfortaa';
    --fuentetextos: 'Oxanium' ;
    --Primario: rgb(252, 152, 4);
    --Secundario: rgb(50, 204, 12);
    --Terciario: rgb(34, 158, 207);
    --blanco: #ffffcc;
    --negro: #2c2c2c;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteTitulos);
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 1.5rem;
}
p {
    font-family: var(--fuentetextos);
}
.titulo {
    background-color: var(--Primario);
    margin: 0.5rem auto;
    text-align: center;
    border-radius: 1rem;
}
.nav-bg {
    background-color: var(--Secundario);
    border-radius: 0.3rem;
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegacion-principal a {
    color: var(--negro);
    text-decoration: none;
    font-family: var(--fuentetextos);
    font-weight: 700;
    padding: 0.5rem 1rem;
}
a:hover {
    background-color: var(--Terciario);
    color: var(--blanco);
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;    
    }
}