:root {
    --fuenteTitulos: 'Comfortaa';
    --fuentetextos: 'Oxanium' ;
    --Primario: rgb(252, 152, 4);
    --Secundario: rgb(147, 238, 124);
    --Terciario: rgb(34, 158, 207);
    --blanco: #ffffcc;
    --negro: #2c2c2c;
    --negro_transparente:rgba(0,0,0, 0.6);
    --Google:rgb(219,68,55);
    --Facebook:rgb(66,103,178);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*HOME*/
html, body {
    min-height: 100%;
}
hr {
    display: block;
    position: relative;
    padding: 0;
    margin: .8rem auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 1;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }
 .avatar {
    width: 100%;
    border-radius: 0.5rem;
 }
.boton {
    grid-row: 2 / 3;
    text-decoration: none;
    text-align: center;
    background-color: var(--Secundario);
    padding: 1rem;
    border-radius: 2rem;
    margin: 0.5rem;
    border: solid;
    border-width: .2rem;
    transition: background-color .5s ease;
}
.boton__atras {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1%;
    max-height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--negro);
    margin: 1rem auto;
    font-size: 0rem;
}
.boton__atras:hover {
    font-size: 1.5rem;
}
.boton:hover {
    background-color: var(--Primario);
    font-weight: bold;
    color: var(--blanco);
}
.boton__enviar {
    border-radius: 0.5rem;
    border: none;    
}
.boton__RRSS {
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 1rem;
    gap: 2rem;
    padding: 1rem;
    color: white;
    font-weight: 700;
    width: 95%;
    margin: 0.4rem auto;
    /*transition: background-color .5s ease;*/
}
.boton__RRSS-google {
    background-color: var(--Google);
}
.boton__RRSS-facebook {
    background-color: var(--Facebook);
}
.boton__usuario {
    grid-column: 2 / 3;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 95%;
    margin-top: -4.4rem;
}
.buscar {
    flex: 1;
    background-image: url(/img/nav/barra-búsqueda_04.gif);
    background-repeat: repeat-x;
    background-size: contain;
    vertical-align:top;
    height: 4.2rem;
}
.campo__busqueda {
    border: none;
    padding-top: .5rem;
}
.cierre {
    flex: 0 0 2rem;
}
.contenedor-campos {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1rem;
    align-items: center;
}
.contenedor-campos label {
    flex: 0 0 14rem;
    margin: 0.5rem 0;
    max-width: 14rem;
}
.contenedor-campos input {
    flex: 1;
    margin: 0.5rem 0;
}
.contenedor-campos__OlvidarPW {
    display: flex;
    font-size: smaller;
    justify-content: right;
    width: 95%;
    margin: 0 auto;
}
.contenedor-header {
    grid-row: 1;
}
.contenedor-footer {
    grid-row: 4 / 7;
}
.contenedor-principal {
    display: grid;
    /*grid-template-rows: 7% 20% 58% 3.75% 7.5% 3.75%;*/
    align-items: center;
}
.contenedor-servicios {
    grid-row: 2;
    margin: 0rem;
}
.contenedor-usuario {
    grid-row: 3;
    padding: 1rem 0;
}
.descripcion {
    margin: 1rem auto;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.formulario {
    border-radius: 1rem;
    width: 95%;
    margin: 1rem auto 0.5rem;
}
.home {
    flex: 0 0 7.2rem;
}
.nav-bg {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: space-evenly;
    width: 95%;
    margin: 0 1rem;
    gap: 1rem;
}
.nav-bg__img {
    margin: 0 auto;
}
.nav-bg-servicio {
    display: grid;
    align-items: center;
    border:solid;
    border-width: 1px;
    border-radius: 2rem;
    border-color: var(--Terciario);
    min-height: 12rem;
}
.nav-principal {
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.nav-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.nav-profile__enlace {
    text-decoration: none;
    color: var(--Terciario);
}
.nav-profile__enlace:hover {
    color: var(--Primario);
}
.nav-usuario {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    text-align: center;
    border:rgb(34, 158, 207);
    border-style:solid;
    border-radius: 1rem;
    margin: 0.5rem 1rem;
}
.nav-usuario-contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:flex-start;
    margin: 0.2rem;
    margin-bottom: 1.5rem;
}
.nombre {
    grid-column: 2 / 3;
    width: 100%;
    margin: 0.25rem 1rem;
    font-size: 2.5rem;
}
.disponibilidad {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nav-usuario {
        display: grid;
    }
}

/* Utilidades */
.resaltado {
    color:var(--Secundario);
    font-weight: bold;
}
.border-radius {
    border-radius: 1rem;
    background-color: var(--blanco);
    margin: 1rem auto;
}
.border-radius:hover {
    background-color: var(--Terciario);
}
.texto {
    font-family: var(--fuentetextos);
}
.titulo {
    font-family: var(--fuenteTitulos);
    margin: 0.5rem auto;
}
.titulo__noDisponible{
    background-color: rgb(252, 54, 4);
    color: var(--blanco);
}
.fuente__700 {
    font-weight: bold;
}
.juntar {
    margin-left: -.4rem;
}
.centrar {
    text-align: center;
}
.margen-10 {
    margin: 1rem;
}
.ancho-100{
    width: 100%;
}
.ancho-95 {
    width: 95%;
}
.imagen {
    width: 90%;
    align-items: center;
}
.padding-10 {
    padding: 1rem;
}
.flex-column {
    flex-direction: column;
    justify-content: center;
}