:root {
    --fuenteTitulos: 'Comfortaa';
    --fuentetextos: 'Oxanium' ;
    --Primario: rgb(252, 152, 4);
    --Secundario: rgb(50, 204, 12);
    --Terciario: rgb(34, 158, 207);
    --blanco: #ffffcc;
    --negro: #2c2c2c;
    --negro_transparente:rgba(0,0,0, 0.6);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*HOME*/
html, body {
    min-height: 100%;
}
.texto {
    font-family: var(--fuentetextos);
}
.titulo {
    font-family: var(--fuenteTitulos);
    margin: 0.5rem auto;
}
.fuente__700 {
    font-weight: bold;
}
.contenedor-principal {
    display: grid;
    grid-template-rows: 7% 20% 58% 3.75% 7.5% 3.75%;
    align-items: center;
}
.contenedor-header {
    grid-row: 1;
}
.contenedor-servicios {
    grid-row: 2;
    margin: 0rem;
}
.contenedor-usuario {
    grid-row: 3;
    padding: 1rem 0;
}
.contenedor-footer {
    grid-row: 4 / 7;
}
.nav-principal {
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.home {
    flex: 0 0 7.2rem;
}
.buscar {
    flex: 1;
    background-image: url(/img/nav/barra-búsqueda_04.gif);
    background-repeat: repeat-x;
    background-size: contain;
    vertical-align:top;
    height: 4.2rem;
}
.cierre {
    flex: 0 0 2rem;
}
.juntar {
    margin-left: -.4rem;
}
.centrar {
    text-align: center;
}
.campo__busqueda {
    border: none;
    padding-top: .5rem;
}
.boton__enviar {
    border: none;    
}
.nav-bg {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: space-evenly;
    width: 95%;
    margin: 0 1rem;
    gap: 1rem;
}
.nav-bg-servicio {
    display: grid;
    align-items: center;
    border:solid;
    border-width: 1px;
    border-radius: 2rem;
    border-color: var(--Terciario);
    min-height: 12rem;
}
.nav-bg__a {
    grid-row: 2 / 3;
    text-decoration: none;
    text-align: center;
    background-color: var(--Secundario);
    padding: 1rem;
    border-radius: 2rem;
    margin: 0.5rem;
    transition: background-color .5s ease;
}
.nav-bg__a:hover {
    background-color: var(--Primario);
    font-weight: bold;
    color: var(--blanco);
}
.nav-bg__img {
    margin: 0 auto;
}

.nav-usuario {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    text-align: center;
    border:rgb(34, 158, 207);
    border-style:solid;
    border-radius: 1rem;
    margin: 0.5rem 1rem;
}
.descripcion {
    margin: 1rem auto;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.border-radius {
    border-radius: 1rem;
    background-color: var(--blanco);
    margin: 1rem auto;
}
.border-radius:hover {
    background-color: var(--Terciario);
}
.nav-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.nav-profile__enlace {
    text-decoration: none;
    color: var(--Terciario);
}
.nav-profile__enlace:hover {
    color: var(--Primario);
}